.profile__profession {
  grid-area: profession;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (min-width:320px) and (max-width: 550px) {
  .profile__profession {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
