.header {
  min-width: 68.75%;
  margin: 45px auto 0;
  align-self: center;
  border-bottom: 1px solid #545454;
}

@media screen and (min-width:320px) and (max-width: 550px) {
  .header {
    min-width: 100%;
    margin: 28px auto 0;
  }
}

@media screen and (min-width:551px) and (max-width: 1200px) {
  .header {
    min-width: 95%;
  }
}
