.profile__avatar {
  border-radius: 50%;
  margin-right: 30px;
  object-fit: cover;
  max-width: 120px;
  max-height: 120px;
}

.profile__avatar:before {
  content: '';
  display: block;
  padding-bottom: 100%;
  box-sizing: border-box;
}
