.profile__avatar {
  border-radius: 50%;
  margin-right: 30px;
  object-fit: cover;
  max-width: 120px;
  max-height: 120px;
}

.profile__avatar:before {
  content: '';
  display: block;
  padding-bottom: 100%;
  box-sizing: border-box;
}

@media screen and (min-width:320px) and (max-width: 550px) {
  .profile__avatar {
    margin: 0;
  }
}
