.profile__info {
  margin: 10px 0 12px;
  max-width: 336px;
  display: grid;
  grid-gap: 16px 18px;
  grid-template-areas: "name editbutton" "profession profession";
}

@media screen and (min-width:320px) and (max-width: 550px) {
  .profile__info {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 100%;
  }
}
